# Dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Next.js build output
.next